body {font-family: Arial, Helvetica, sans-serif;}
     

input[type=text], input[type=password] {
     width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;}


.main_container{
    width: auto;
    margin: auto;
    
    

}        
.login_container {
    background-color: aliceblue;
    width: 25%;
    padding: 25px;
    margin: auto;
    
   }


.label {
    
    font-size: 15px;

}

.login_btn{
    background-color: #04AA6D;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
    cursor: pointer;
    width: 100%;
}
.login_btn:hover{
    background-color: rgb(45, 191, 28);
}

.cancel_btn{
    background-color: #ae1313;
     color: white;
     padding: 7px 10px;
     margin: 8px 0;
     border: none;
    cursor: pointer;
    width: 20%;
    margin-left: 10px;
}
.cancel_btn:hover{
    background-color: rgb(154, 4, 4);
}
.link1{color: blue;}